@tailwind base;
@tailwind components;
@tailwind utilities;

:root:root {
  --adm-color-primary: #ef4444;
  --adm-color-success: #00b578;
  --adm-color-danger: #ef4444;

  --adm-color-white: #ffffff;
  --adm-color-text: #111827;
  --adm-color-text-secondary: #666666;
  --adm-color-weak: #999999;
  --adm-color-background: #ffffff;

  --adm-font-size-main: 1rem;
}

.anticon {
  display: block;
}

div.adm-list {
  --border-top: 0;
}
